.navbar {
    background: white;
    padding-top: 32px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    color: #073B4C;
}

button {
    padding: 12px 20px;
    border-radius: 8px;
    width: 100px;
    border: 1px solid white;
    background: #073B4C;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        border-color: #9ca3af;
    }
}

.dashboard-container {
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        overflow: hidden;
        background: white;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;

        thead {
            background: #073B4C;
            color: #ffffff;
            
            th {
                padding: 16px 20px;
                text-align: left;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
        }
        
        tbody {
            tr {
                transition: background-color 0.2s ease;
                border-bottom: 1px solid #fff;
                
                &:hover {
                    background: lightgray;
                }
                
                &:last-child {
                    border-bottom: none;
                }
                &:nth-child(odd){
                    background-color: #ffffff;
                }
                &:nth-child(even){
                    background-color: #f9f9f9;
                }
                
                td {
                    padding: 16px 20px;
                    color: black;
                    font-size: 14px;
                    
                    &:first-child {
                        font-weight: 600;
                        color: black;
                    }
                }
            }
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        padding: 16px 0;
        
        span {
            color: black;
            font-weight: 500;
            font-size: 14px;
            margin: 0 8px;
        }
    }
}
